<div class="row text-center">
    <div class="col-lg-10 col-lg-offset-1">
        <h1>Code for America Brigades</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <table datatable="ng" class="row-border hover">
            <thead>
            <tr>
                <td>Name</td>
                <td>City</td>
                <td>Members</td>
                <td>Projects</td>
                <td>Member Growth (1mo)</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="brigade in brigades.brigades" ng-click="brigades.click(brigade.id)">
                <td>{{ brigade.name }}</td>
                <td>{{ brigade.city }}</td>
                <td>{{ brigade.current_members }}</td>
                <td>{{ brigade.projects }}</td>
                <td>{{ brigade.one_month_growth | number : 2 }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
