<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <h4>Code for America uses technology to make government services simple, effective and easy to
            use. This application, <b>Brigade Pulse</b>, provides key insights into the health and effectiveness
            of our 100+ groups!</h4>
    </div>
</div>

<div class="row">
    <div class="col-lg-offset-1 col-lg-6 col-sm-12">
        <h2 class="text-center">Brigades by Size</h2>

        <div id="map-canvas" style="border:solid; width: 100%; box-shadow: 10px 10px 5px #888888;">
        </div>
        <br/>
    </div>

    <div class="col-lg-4 col-sm-12">
        <h2 class="text-center">Fastest Growing Brigades</h2>

        <div class="row">
            <div class="panel-body top-brigade col-lg-6 col-sm-12" ng-repeat="row in main.brigades | limitTo:10">
                <a ng-href="#/brigades/{{row[0]}}">
                    <div type="button" class="btn btn-default btn-md btn-block"
                         style="border:solid 1px; box-shadow: 5px 5px 2px #888888;">
                        <h5 style="overflow: hidden; white-space: nowrap;text-overflow: ellipsis;">{{row[0]}}</h5>
                        <h6>{{row[2]}}</h6>

                        <p>{{ row[1] | number : 1 }}% last month</p>
                    </div>
                </a>
            </div>
        </div>
        <p>The monthly growth metric here is an average of 1 month, 2 week, and 1 week growth - specifically to
            flatten out the figure for brand-new brigades (they'll still show up) and boost the number for brigades
            with consistent growth</p>
    </div>
</div>

<div class="footer" style="background-color: #f6f6f6; border-top:solid">
    <div class="row">
        <div class="header col-sm-4 text-center">
            <h3>Contact Us</h3>
            <br>

            <div class="contact">
                <a href="mailto:webmaster@codefornashville.org"><i class="fa fa-envelope-o"></i><span> Email</span></a>
                <br>
                <br>
            </div>
            <div class="contact">
                <a href="https://twitter.com/code4nashville"><i class="fa fa-twitter"></i><span> Twitter</span></a>
            </div>
        </div>
        <div class="header text-center col-sm-4 columns contact-box">
            <div class="header">
                <h3>Join Us</h3>
            </div>
            <br>

            <div class="contact">
                <a href="http://www.meetup.com/code-for-nashville/"><i
                        class="fa fa-calendar"></i><span> Meetup</span></a>
            </div>
            <br>

            <div>
                <a href="http://www.codefornashville.org/slack/"><i class="fa fa-slack"></i> Slack</a>
            </div>
        </div>
        <div class="header col-sm-4 text-center contact-box">
            <div class="header">
                <h3>Follow Us</h3>
            </div>
            <br>

            <div class="contact">
                <a href="https://www.facebook.com/groups/codefornashville/"><i class="fa fa-facebook"></i><span> Facebook</span></a>
            </div>
            <br>

            <div class="contact">
                <a href="https://github.com/code-for-nashville"><i class="fa fa-github"></i><span> Github</span></a>
            </div>
        </div>
    </div>
    <br>
    <br>

    <div class='row'>
        <div class="text-center">
            <div class="glyphicon glyphicon-envelope-large"></div>
            <a href="http://www.codefornashville.org/">
                <img style="width:150px; border:solid" src="app/assets/code-for-nash.png">
            </a>
        </div>
    </div>
    <br>

    <div class="text-center">
        <p>&copy; Code For Nashville | 2015 </p>
    </div>
</div>
